<div class="container new write">
    <div class="row g-3 write"> <!-- g-3 for a gap of 1rem (16px), you can change to g-4 or custom if you want 20px -->
      <div class="col">
        <div class="container1">
          <!-- Content for the first container -->
          <p id="write" class="write">What's New?
            Since creating the first version of FitBite in 2024, shortly after completing the CS50 course, I’ve gained a wealth of experience and knowledge. I’ve been actively applying what I’ve learned through the Udemy course by Angela Yu at the London App Brewery, as well as my studies at university, where I’m pursuing a remote degree in software engineering.
  
          </p> 

        </div>
      </div>
      <div class="col">
        <div class="container2">
          <!-- Content for the second container -->
          <p id="write" class="write">
            Now, with all this expertise, I’m more excited than ever to continue improving FitBite. I invite you to join the FitBite community – a place where like-minded individuals can come together to build a healthier, happier lifestyle. Let’s transform the influence of social media into something positive and empowering, creating a supportive space where we can all thrive. 
          </p> 
        </div>
      </div>
    </div>
  </div>