<%- include("partials/header.ejs") %>
<!-- Full Page Image Header with Vertically Centered Content -->
<section class="first">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="teste col-12 text-center">
          <div data-tilt data-tilt-scale="1.1" class="logo">
            <img src="/assets/fbLogo.png" href="/">
        </div>
          <h1 class="h1">Welcome to the new FitBite</h1>
          <p class="lead">Gym routine and better eating habits.
          </p>
          <div class="cButtons">
            <a href="/register" class="btn btn-light">Register</a>
            <a href="/login" class="btn btn-light">Login</a>
        </div>
        <%- include("partials/new.ejs") %>
        </div>
      </div>
    </div>
    
</section>
<%- include("partials/footer.ejs") %>